<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoshman29.codenameengine">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>

    <application
        android:label="Codename Engine"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="false">
    </application>

</manifest>
